@charset "utf-8";

html {
	background-image: url("../img/washi.png");
	background-position: center;
}

ul li:before {

content: none;
}

ul {

display: block;
}

.nav-btm {

	padding: 0.5em 0;

  background-color: #000;
}

.nav-btm li {

	display: inline-block;
	padding-left: 0.25em;


}

.nav-btm ul {

	margin: 0;
	padding: 1%;
	padding-bottom: 1%;
	text-align: center;

}

.nav-btm img {

	width: 1em;
}

.copyright {
	margin-bottom: 1%;
	text-align: center;
  font-size: 0.65em;
  color: #fff;
  margin: 0;
}

.icons li {
	padding: 0.0625%;

}

@media only screen and (min-width: 36em) {

.nav-btm ul {
	float:left;

}

.copyright {
	float: right;
	margin-top: 1.5%;
	padding-right: 3%;

}

.nav-btm {
	padding-bottom: 7%;
}
}

@media only screen and (min-width: 43em) {
	.nav-btm {
	padding-bottom: 6%;
}
}

@media only screen and (min-width: 57em) {
	.nav-btm {
	padding-bottom: 5%;
}
}

@media only screen and (min-width: 76em) {
	.nav-btm {
	padding-bottom: 4.5%;
}
}

@media only screen and (min-width: 68em) {
	.nav-btm {
	padding-bottom: 4.5%;
}
}

@media only screen and (min-width: 81em) {
	.nav-btm {
	padding-bottom: 4.5%;
}
}

@media only screen and (min-width: 90em) {

.icons {
	text-align: right;

	padding-right: 2%;
}
}


