@chartset "utf-8";

.logo {

  width : 419px;
  position: absolute;
  margin: -14% 0% 0% -3%;
}

.bar {

  padding-top: 170px;

  height: 68px;
  background-color: #000000;
}

.nav {
	margin-left: 15%;
	display: block;
	margin: -17% 0% 0% 88%;
	line-height: 3em;
	display: inherit;
}

nav .selected {

  background-color: #cc6699;
}

ul li:before {

  content: none;
}
