@chartset "utf-8";

.logo {

  width: 399px;
  position: absolute;
  margin: -43% 0% 0% -6%;
}

.bar {

  padding-top: 170px;
  height: 19px;
  background-color: #000000;
}

.nav {
	line-height: 3em;

}

nav .selected {

  background-color: #cc6699;
  color: #fff;
  padding: 1%;
}

ul li:before {

  content: none;
}

#search-field {
  padding: 15px 0px 0px 75px;
  float: center;

}

@media only screen and (min-width: 30em) {

  #search-field {
    padding: 15px 0px 0px 109px;
  }

  .logo {
    margin: -33% 0% 0% -1%;
  }
}


#tfheader {
background-color: #000;
}

.nav-top ul {

  margin-left: -5%;
  line-height: 2em;
  margin-top: 10%;
}
