html {
	background-image: url("../img/washi.png");
	background-position: center;
}

.header {
  background-color: #990000;
  color: #ffffff;
  padding-left: .5%;
}

.product {
	background-color: #cc6633;
	border-radius: 25px;
	margin-bottom: 5%;
}


.btn {
  margin-left: 14rem;
}

.wishlist {
  margin-left: 68%;
}

@media only screen and (min-width: 31em) {

.btn {
	margin-left: 18rem;
}
}

@media only screen and (min-width: 45em) {

.wishlist {
	margin-left: 63%;
}

}
@media only screen and (min-width: 49em) {

.btn {
	margin-left: 13rem;
}
}

@media only screen and (min-width: 56em) {

.btn {
	margin-left: 15rem;
}
}

@media only screen and (min-width: 59em) {

.btn {
	margin-left: 17rem;
}
}

@media only screen and (min-width: 63em) {

.btn {
	margin-left: 18rem;
}
}

@media only screen and (min-width: 70em) {

.btn {
	margin-left: 22rem;
}
}

@media only screen and (min-width: 79em) {

.wishlist {
	margin-left: 65%;
}

}


@media only screen and (min-width: 80em) {

.btn {
 margin-left: 25rem;
}

.wishlist {
	margin-left: 67%;
}

}


@media only screen and (min-width: 87em) {

.btn {
	margin-left: 29rem;
}
}



