html {
	background-image: url("../img/washi.png");
	background-position: center;
}

.header {
  background-color: #990000;
  color: #ffffff;
  padding-left: .5%;
}

.product {
	background-color: #cc6633;
	border-radius: 25px;
	margin-bottom: 5%;
}


.btn {
  margin-left: 75%;
  padding: 10%;
}

.wishlist {
  margin-left: 68%;
}

@media only screen and (min-width: 45em) {

.btn {
	margin-left: 68%;
}

.wishlist {
	margin-left: 63%;
}

}

@media only screen and (min-width: 79em) {

.wishlist {
	margin-left: 65%;
}

}


@media only screen and (min-width: 80em) {

.btn {
	margin-left: 70%;
}

.wishlist {
	margin-left: 67%;
}

}

