html {
	background-image: url("../img/washi.png");
	background-position: center;
}

.btn {
  margin-left: 75%;
  padding: 10%;
}

.wishlist {
  margin-left: 71%;
}

h1 {
  background-color: #990000;
  color: #ffffff;
}

.product {
	background-color: #cc6633;
	border-radius: 25px;
	margin-bottom: 5%;
}


