# Accessibility Testing Report

User testing was conducted by Makeda McLean on April 2,2014 between the times of 5:30 and 6:00 with the following participants:

- Anita Chanthavong
- Sean Okai
- Amanda Sparks

## Tasks

1. find an item
2. write in the search field
3. Find the about page

---

## Individual Results & Observations

### Amanda Sparks voice & keyboard

- She completed the task as expected with the tab
- The voice over didn't work well when it reached the search bar

### Sean Okai voice & keyboard

-He completed the task as expected with the tab
- The voice over didn't work well when it reached the search bar

### Anita Chanthavong voice & keyboard

- She completed the task as expected with the tab
- The voice over didn't work well when it reached the search bar
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Search bar during voice over

### Serious, Causes Frustration, May Hinder Completion

- The voice over took to long to instruct user to press a combination of buttons to enter the search bar
- Couldn't select items with the tab

### Minor, Annoying, Won’t Hinder Completion


