---
layout: default
title: Origami
---
<h1>Origamist</h1>
<p>For all your pretty paper needs!</p>

<div class="box">
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
	{% include promo-small.html title="Star Paper" desc="Colourful strips 1/2in x 8.5in" image="origami3.jpg" %}
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
	{% include promo-small.html title="Crane Paper" desc="4in" image="origami2.jpg" %}
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
	{% include promo-small.html title="3d Origami paper" desc="5cmx7cm"" image="origami4.jpg" %}
	</div>
</div>
