# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Sarah Hodgson
- Katie Situ
- Amanda Sparks

## Tasks

1. Find the information about the company
2. Find the paper products and select and item and purchase it
3. Find the price for the Gold Dragon

---

## Individual Results & Observations

### Sarah Hodgson

- She clicked on the About link to find the company info as expected
- She had trouble finding the model right away
- The buttons are too close to the footer

### Pedro Santos

- He initially clicked the Origami link instead of the About link to find out about the company
- He successfully found the price for the Gold Dragon model
- He chose a model product to check out instead of a paper product
- The models are made of paper so he was confused at what the item was
- He suggested to give another name for the paper products to eliminate confusion like create your own model, paper packages or sheets of paper.

### Amanda Sparks

- She was able to find the product price
- She was able to select a paper package and add it to cart to checkout
- She was looking at the variety of paper products
- Placement of the buttons are off she suggested putting them close to the image
- She suggested to add more detail in what the company offers and maybe changing the About page to the history since the information talks about the history of origami

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.
