<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Origamist</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,900|Roboto+Slab:700' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">

</head>
<body>

  <div id="tfheader">
    <form id="search-field" method="get" action="http://www.google.com">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="SEARCH" class="tfbutton">
    </form>
  <div class="tfclear"></div>
  </div>


  <header>

{% if page.showbanner %}
<div class="banner">
  <h2>{{page.bannertext}}</h2>
</div>
{% endif %}

    <div class="bar unit-s-1 unit-m-1 unit-l-1">
  <img class="logo img-flex" src="{{site.baseurl}}/img/ori.svg" alt="logo">
    <a href="#nav" class="nav-btn" data-state="inactive">MENU</a>





    </div>

    <nav class="nav nav-top" data-state="collapsed">

    <ul>
        <li><a href="{{site.baseurl}}/">HOME</a></li>
        <li><a href="{{site.baseurl}}/about/">ABOUT</a></li>
        <li><a href="{{site.baseurl}}/signup/">SIGN UP</a></li>
        <li><a href="{{site.baseurl}}/login/">LOGIN</a></li>
    </ul>

    </nav>

  </header>


{{content}}

<footer>

    <nav class="nav-btm">
      <ul>
        <li><a href="{{site.baseurl}}/">HOME</a></li>
        <li><a href="{{site.baseurl}}/about/">ABOUT</a></li>
        <li><a href="{{site.baseurl}}/signup/">SIGN UP</a></li>
        <li><a href="{{site.baseurl}}/login/">LOGIN</a></li>
        <li><a class="icons" href=""><img src="{{site.baseurl}}/icons/twitter.svg" alt="twitter logo"></a></li>
        <li><a class="icons" href=""><img src="{{site.baseurl}}/icons/facebook.svg" alt="facebook logo"></a></li>
        <li><a class="icons" href=""><img src="{{site.baseurl}}/icons/pinterest.svg" alt="pinterest logo"></a></li>
      </ul>
      <p class="copyright">©2013 Origamist. All Rights Reserved.</p>



    </nav>


</footer>

<script src="{{site.baseurl}}/js/app.js"></script>
</body>
</html>

