---
layout: nav
---
<div>
<h1>{{page.name}}</h1>
<img class="img-flex unit-m-1 unit-l-1-2"src="{{site.baseurl}}/img/{{page.img}}" alt="">
<ul>
				<h2 class="yotta">{{page.price}}</h2>

				<ul class="list-group">
				    <li class="list-group-item list-group-item-inline">
				      <img src="http://placehold.it/32x32/ff3333" alt="">
				    </li>
				    <li class="list-group-item list-group-item-inline">
				      <img src="http://placehold.it/32x32/ffcc00" alt="">
				    </li>
				    <li class="list-group-item list-group-item-inline">
				      <img src="http://placehold.it/32x32/cc6633" alt="">
   					 </li>
  				</ul>
  				<li>{{page.type}} {{page.sheets}}<a class="btn mega brand-family" href="{{site.baseurl}}/cart/">Buy Now!</a>
</div></li>
</ul>


